@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

svg {
    width: 20%;
}


#Layer_1 {
    position: absolute;
    background-color: red;
    top: 20px;
}


#demo {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    display: flex;
    justify-content: space-around;
    transform: translateY(50%);
    flex-direction: row;
}




/* mahmoud code */

#menu>* {
    cursor: pointer;
}

#menu>*:hover {
    fill: rgb(20, 19, 19);
}


#menu>*:active {
    fill: rgb(226, 193, 7);
}

#top-slice:hover {
    fill: rgb(20, 19, 19);
}

#top-slice:active {
    fill: rgb(226, 193, 7);
}

#top-slice {
    fill: #5a5a5a;
}

#bottom-slice {
    fill: #727272;
}

#left-slice {
    fill: #8d8d8d;
}

#right-slice {
    fill: #9c9c9c;
}

#center-ellipse {
    fill: rgb(175, 175, 175);
}

.info-msg {
    position: absolute;
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 3px 3px 3px 3px;
  color: rgb(92, 92, 92);
  background-color: rgb(229, 231, 233);
  display: inline-block;
}


.fa {
    margin-right: 8px;
}