svg {
    width: 20%;
}


#Layer_1 {
    position: absolute;
    background-color: red;
    top: 20px;
}




/* mahmoud code */

#menu>* {
    cursor: pointer;
}

#menu>*:hover {
    fill: rgb(20, 19, 19);
}

#top-slice:hover {
    fill: rgb(20, 19, 19);
}

#top-slice {
    fill: #5a5a5a;
}

#bottom-slice {
    fill: #727272;
}

#left-slice {
    fill: #8d8d8d;
}

#right-slice {
    fill: #9c9c9c;
}

#center-ellipse {
    fill: rgb(175, 175, 175);
}